User Search results:
<p-messages ></p-messages>
<p-table [columns]="cols" [value]="users">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td><i class="pi pi-pencil" (click)="updateUser($event,rowData)"></i><i class="pi  pi-trash" (click)="deleteUser($event,rowData)"></i></td>
        </tr>
    </ng-template>
</p-table>